/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 80px;
    font-family: sans-serif;
}


/* UTILS */
.container-header {
    width: 80%;
    margin: 0 auto;
}
.container {
    width: 80%;
    margin: 40px auto;
}


/* HEADER */
header {
    width: 100%;
    background-color: #ff6900;
    position: fixed;
    top: 0;
    z-index: 1;
}
.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}


.navbar-menu ul {
    list-style-type: none;
    display: flex;
    margin-left: -5px;
}

.navbar-menu ul li {
    padding: 0 5px;
}
li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.navbar-logo img {
    width: 8rem;
}

.navbar-action {
    text-align: center;
}
.navbar-action i {
    padding: 0 5px;
}
/* MAIN */
.row {
    display: flex;
    justify-content: space-between;
}

.card img {
    height: 687px;
}

.card {
    position: relative;
}

.favourite {
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 35px;
    text-align: center;
    line-height: 40px
}

.discount {
    background-color: #ff0000;
    color: white;
    padding: 5px 10px;
    position: absolute;
    left: 0;
    bottom: 110px;
}

.eco {
    background-color: #008000;
    color: white;
    padding: 5px 10px;
    position: absolute;
    left: 62px;
    bottom: 110px;
}

.eco.left {
    left: 0;
}

.discount-price {
    color: red;
    font-weight: 600;
}

.full-price {
    text-decoration: line-through;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #1a1a1a;
}

.navbar-action p {
    font-size: 12px;
}

/* HOVER */


.hidden-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 476px;
    height: 687px;
    display: none;
}

.card:hover .hidden-img, .card:hover .hidden {
    display: block;
}


.hidden {
    color: rgb(214, 9, 9);
    display: none;
}


